<footer class="power">
    <div class="info">
        <h1>doctor-case-label</h1>
        <p>Version 1.0.0</p>

        <h3>OpenAPI spec: <a href="/openapi.json">/openapi.json</a></h3>
        <h3>API Explorer: <a href="/explorer">/explorer</a></h3>
    </div>
    <a href="https://loopback.io" target="_blank">
        <img src="https://loopback.io/images/branding/powered-by-loopback/blue/powered-by-loopback-sm.png" />
    </a>
</footer>
