<% const conditions = locals["conditions"] %>

<form>
    <div class="form-group">
        <label for="erc_textarea">Please Review This Case: </label>
        <textarea id="erc_textarea">
        </textarea>
    </div>

    <div class="form-group">
        <label for="condition_select">Select Condition:</label>
        <select class="form-control" id="condition_select">
            <% for (let i = 0; i < conditions.length; i++) {%>
                <% let condition = conditions[i] %>
                <% if(condition.hasOwnProperty("id") &&
                        condition.hasOwnProperty("description") &&
                        condition.hasOwnProperty("code")) { %>
                        <option value="<%=condition.id%>"><%=condition.description%> ( <%= condition.code %>) </option>
                <% }%>
            <% }%>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Next&nbsp;&rightarrow;</button>
</form>

