</main>

<div class="container">
    <footer class="class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="info">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">© 2020 João Rocha da Silva</small>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><p>Doctor Case Label</p></li>
                        <li><p>Version 1.0.0</p></li>
                        <li><a class="text-muted" href="/openapi.json">/openapi.json</a></li>
                        <li><a class="text-muted" href="/explorer">API Explorer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://loopback.io" target="_blank">
            <img src="https://loopback.io/images/branding/powered-by-loopback/blue/powered-by-loopback-sm.png" />
        </a>
    </footer>
</div>
