<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Doctor Case Label</h5>

        <%if(!locals || !locals.loggedUser) { %>

            <form method="POST" action="/api/login" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" aria-label="Username">
                <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
            </form>

        <% } else { %>
            <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
                <h3>Welcome, <%= locals.loggedUser.firstName %> <%= locals.loggedUser.firstName %>.</h3>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        <% } %>%>
    </div>
</header>
<main class="container">

