<!DOCTYPE html>
<html lang="en">

<head>
  <title>doctor-case-label</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="https://loopback.io/favicon.ico">
</head>

<body>
  <%-include /src/views/common/header.html.ejs %>

  <h1>Doctor Case Labeler</h1>

  <%-include /src/views/common/footer.html.ejs %>
</body>

</html>
